*{
    margin: 0;padding: 0;box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: mintcream;
}

.player{
    position: relative;
    width: 350px;
    /* background: olivedrab; */
}

.player .imgBx{
    position: relative;
    width: 350px;
    height: 350px;
}

.player .imgBx img{
    position: absolute;
    top: 0;left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.player audio{
    width: 100%;
    outline: none;
}